@import "./partials/_login.css";
@import "./partials/_signup.css";
@import "./partials/_createPost.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dougie;
  src: url(../fonts/MintSansBold.otf);
}
*{
  font-family: dougie;
}
.navy{
  
}