@import "./partials/_login.css";
@import "./partials/_signup.css";
@import "./partials/_createPost.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dougie;
  src: url(../fonts/MintSansBold.otf);
}
body{
  margin: 0%;
  padding: 0%;
}
*{
  font-family: dougie;
}
.navy{
  background-color:rgba(0, 0, 0, .05);
    border-bottom: .2rem rgba(0, 0, 0, .1) solid;
    box-shadow: 0 0 .2rem .1rem rgba(0, 0, 0, .1);
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.5rem;

}
.navy>div{
  display: flex;
  justify-content: right;
  gap: 1rem;
}
.dashWel{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.dashPostBig{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 2rem;
  justify-content: center;
  height: 45vh;

}
.dashPostCon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33% - .66rem)!important;
  padding: .5rem;
  border-radius: .5rem;
  background-color:rgba(0, 0, 0, .05);
  border-bottom: .2rem rgba(0, 0, 0, .1) solid;
  box-shadow: 0 0 .2rem .1rem rgba(0, 0, 0, .1);
}
.dashPostCon h3{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.dashPostCon>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashPostCon button{
  border-radius: .5rem;
  border: solid green .2rem;
  background-color: green;
  color: white;
  padding: .2rem .6rem .2rem .6rem;
}
svg{
  display: inline!important;
}
hr{
  border: .2rem rgba(0, 0, 0, .1) solid;

}
.home{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  font-size: 3rem;
}